# Terraform
.terraform/
.terraform.d/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Rust build artifacts
target/
**/target/
Cargo.lock
**/Cargo.lock

# Test Results
cargo-portal/results-*/
cargo-portal/stress-test/results_*/
cargo-portal/results-warmed/
cargo-portal/results-1n*/
cargo-portal/results-2n*/

# Logs
cargo-portal/stress-test/*.log
cargo-portal/stress-test/*.csv

# Packages lists
cargo-portal/packages*.txt
cargo-portal/terraform/load-test/packages.txt

# Test directories
cargo-portal/terraform-1n/
cargo-portal/terraform-2n/
